{
  "root": true,
  "env": {
    "node": true
  },
  "extends": ["airbnb", "plugin:prettier/recommended", "react-hooks"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  }
}
